@model GreatTest.Models.PlayModel

@{
    ViewBag.Title = "Play";
}




<div class="row" id="QuestPage" >
    <div class="form-group">
        <div class="form-group required-field-block" id="QuestBox">
            <h3 id="quest"> @Model.Quest</h3>
            </div>
        <br />
            
            <div id="ans">
            <button class="ansbtn" id="AnsA" name="AnsA" onclick="checkAns('AnsA', AnsA )"> @Model.AnsA </button>
            <button class="ansbtn" id="AnsB"name="AnsB" onclick="checkAns('AnsB', AnsB)"> @Model.AnsB </button>
            
            <button class="ansbtn" id="AnsC"name="AnsC" onclick="checkAns('AnsC', AnsC)"> @Model.AnsC </button>
            <button class="ansbtn" id="AnsD"name="AnsD" onclick="checkAns('AnsD', AnsD)"> @Model.AnsD </button>
           </div>
       
    </div>

    <script>
        function checkAns(button, answer) {
            
            
               var rattSvar = @Model.CorAns;
                   if(answer == rattSvar)
                   {
                       document.getElementById(button).style.backgroundColor="green";
                       setTimeout(location.reload.bind(location), 6000);    
                   }
                   else
                   {
                       document.getElementById(button).style.backgroundColor = "Red";
                       setTimeout(location.reload.bind(location), 6000);
                   }
                   setTimeout(function(){
                       window.location.reload();
                   }, 1000);
            
            
        }
        setTimeout(function(){
            window.location.reload();
        }, 15000);
    </script>

</div>

