@model GreatTest.Models.PlayModel

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>


<div class="row">
    <div class="form-group">
        <div class="form-group required-field-block">
            @Html.TextBoxFor(x => x.Quest, new { @class = "form-control", @Readonly = true})
            

            
            <button class="btn btn-primary" id="AnsA"> @Html.TextBoxFor(x => x.AnsA, new { @class = "form-control", @Readonly = true})</button>
            <button class="btn btn-primary" id="AnsB"> @Html.TextBoxFor(x => x.AnsB, new { @class = "form-control", @Readonly = true })</button>
            <button class="btn btn-primary" id="AnsC"> @Html.TextBoxFor(x => x.AnsC, new { @class = "form-control", @Readonly = true})</button>
            <button class="btn btn-primary" id="AnsD"> @Html.TextBoxFor(x => x.AnsD, new { @class = "form-control", @Readonly = true})</button>
            @Html.HiddenFor(model => model.CorAns)
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#AnsA').click(function () {
                var svar = $('#AnsA').id();
               var rattSvar = @Model.CorAns;
                   if(svar = rattSvar)
                   {
                       AnsA.BackColor = Color.Green;
                   }
                   else
                   {
                       AnsA.BackColor = Color.Red;
                   }
                       
                

            })
        })
    </script>

</div>

